@using Helpdesk.Infrastructure.Security
@using Helpdesk.Dominio.Core.Security

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Helpdesk.Web.Properties.Resources.ProjectName</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")

        @Styles.Render("~/Content/bootstrap/css")
        @Scripts.Render("~/Content/bootstrap/js")

    </head>
    <body>
        <header>
            <div style="margin: 0; padding: 10px; background: #CECECE">
                <span style="color: #646464"><b>HELP-DESK</b> GESTÃO DE CONHECIMENTO</span>
                @if (AuthContext.User != null) {
                    <span style="color: #646464; float : right">Usuário, @AuthContext.User.Nome</span>
                }
            </div>
            <div class="navbar" style="margin-bottom: 0px">
                <div>
                    <ul class="nav navbar-nav" style="width : 100%">
                        <li><a class="custom" href="@Url.Action("Index","Home")">HOME</a></li>
                        @if (AuthContext.User != null && AuthContext.User.Tipo == UsuarioTipo.Administrador) {
                            <li><a class="custom" href="@Url.Action("Index", "Usuario")">USUÁRIOS</a></li>
                        }
                        <li class="dropdown">
                            <a href="#" class="custom dropdown-toggle" data-toggle="dropdown">CHAMADOS <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                @if (AuthContext.User != null && AuthContext.User.Tipo == UsuarioTipo.Administrador) { 
                                    <li><a href="@Url.Action("Abertos","Chamado")">Gerenciar Chamados</a></li>
                                }
                                <li><a href="@Url.Action("Pesquisar","Chamado")">Reporte um problema</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper" style="padding-top : 15px">
                <div class="float-left">
                    <p><h6>&copy; Sistemas de Informação - Turma 8° Período</h6></p>
                    <p><h6>Centro Universitário Una - 2013</h6></p>
                </div>
            </div>
        </footer>

        @RenderSection("scripts", required: false)
    </body>
</html>
